<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h2>List OF Bench</h2>
    </div>
    <div>
        <!--
        <a th:href="@{/cases/new}" class="btn btn-outline-success" th:method="GET">New Case</a>
        -->
        <a th:href="@{/bench/new}"  class="nav-link" th:method="GET">New Bench</a>
    </div>
    <form th:action="@{/bench/list}"  method="POST">
        <div class="form-group">
            <label for="benchid">Enter Bench ID</label>
            <input type="number" step="1.0" class="form-control" id="benchid"  name="benchid" min=1  required>
        </div>
        <div>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>

    </form>
    <table class="table table-hover" id="supplier-table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bench Name</th>
                <th scope="col">max NumberOfJudges</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bench:${bench}">
                <th th:text="${bench.id}"></th>
                <td th:text="${bench.benchName}"></td>
                <td th:text="${bench.maxNumberOfJudges}"></td>
                <td><a  class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete With its Related Records?')"  th:href="@{/bench/delete/__${bench.id}__}" >Delete</a>
                    <a th:href="@{/bench/edit/__${bench.id}__}" class="btn btn-outline-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>