<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h2>List OF Cases</h2>
    </div>
    <div>

        <a th:href="@{/cases/new}"  class="nav-link" th:method="GET">New Case</a>
    </div>
    <form th:action="@{/cases/list}"  method="POST">
        <div class="form-group">
            <label for="keyword">Enter case ID or Plaintiff Name or Defendant Name</label>
            <input type="text" step="1.0" class="form-control" id="keyword"  name="keyword" maxlength=50 required>
        </div>
        <div>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>
    <!--
    <form th:action="@{/cases/list}"  method="POST">
       <table align="right">
           <tr>
        <th>
            <input type="number" step="1.0" class="form-control" id="caseid"  name="caseid" maxlength=50 width="50">
            <button class="btn btn-outline-success" type="submit">Search By Case ID</button>
        </th>
           </tr>
           <tr>
        <th>
            <input type="text" step="1.0" class="form-control" id="plaintiffName"  name="plaintiffName" maxlength=50 width="50">
            <button class="btn btn-outline-success" type="submit">Search By PlaintiffName</button>
        </th>
           </tr>
           <tr>
        <th>
            <input type="text" step="1.0" class="form-control" id="defendantName"  name="defendantName" maxlength=50  width="50">
            <button class="btn btn-outline-success" type="submit">Search By DefendantName</button>
        </th>
           </tr>
       </table>
    </form>
-->
    <table class="table table-hover" id="supplier-table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Plaintiff Name</th>
                <th scope="col">Defendant Name</th>
                <th scope="col">File Type</th>
                <th scope="col">Case Level</th>
                <th scope="col">Case Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="case:${cases}">
                <th th:text="${case.id}"></th>
                <td th:text="${case.plaintiffName}"></td>
                <td th:text="${case.defendantName}"></td>
                <td th:text="${case.fileType}"></td>
                <td th:text="${case.caseLevel}"></td>
                <td th:text="${case.caseType}"></td>
                <td><a  class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete With its Related Records?')"  th:href="@{/cases/delete/__${case.id}__}" >Delete</a>
                    <a th:href="@{/cases/edit/__${case.id}__}" class="btn btn-outline-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>